{# {% extends 'home/index.html.twig' %} #}
{% extends 'base.html.twig' %}

{% block title %}Technos{% endblock %}

{%block stylesheets %}{{ encore_entry_link_tags('globalStyle') }}
{{encore_entry_link_tags('langageStyle')}}
{%endblock%}

{% block body %}
<div class="flex-container">
<div id="back">
<h2>Backend</h2>
{% for l in langages  %}
{{include('langage/langageBlock.html.twig',{kind:"Backend",type:l.type, nom:l.nom
   })}}
{% endfor %}

</div>
<div id="front">
<h2>Frontend</h2>
{% for l in langages  %}
{{include('langage/langageBlock.html.twig',{kind:"Frontend",type:l.type, nom:l.nom
   })}}
{% endfor %}

</div>
<div id="bd">
<h2>Base de données</h2>
{% for l in langages  %}
{{include('langage/langageBlock.html.twig',{kind:"Base de données",type:l.type, nom:l.nom
   })}}
{% endfor %}

</div>
</div>
{# <div id="back">
{% for l in langages  %}
{%if l.type == "Backend" %}
    <h2>{{l.nom}}</h2>
    {% endif %}
{% endfor %}

</div> #}
{% endblock %}
