{% extends 'base.html.twig' %}

{% block title %}Projets FullStack{% endblock %}

{%block stylesheets %}{{ encore_entry_link_tags('globalStyle') }}
{{encore_entry_link_tags('projetStyle')}}
{% endblock %}

{% block body %}
<div class="projet-container">

{% for p in projets %}
<div class="projet">
    <h1>{{p.nom}}</h1>
    {% for l in p.liens %}
    <a href={{l}}>{{l}}</a></br>
    {% endfor %}
    Nombre de langages :{{p.langages|length}}
    </br>
    </div>
{% endfor %}

</div>
{% endblock %}
